.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.outlet-container{
    width: 95vw;
    height: 70%;
    margin: 0 auto;
    @media screen and (max-width: $tablet-layout) {
        &{
            height: 80vh;
        }
    }
}