.items-container{
    height: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $tablet-layout) {
        &{
            overflow-y: scroll;
            //height: calc(100% - 20px);
            grid-template-columns: 1fr;
        }
    }

    & .item-container:nth-of-type(2){
        grid-row-start: 2;
    }
    & .item-container:nth-of-type(3){
        grid-row-start: 3;
    }
    & .item-container:nth-of-type(4){
        grid-row-start: 4;
    }
    & .item-container:nth-of-type(5){
        grid-row-start: 5;
    }
}