.list-news{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 1em;

    & .news-container{
        display: grid;
        width: 100%;
        
        grid-template-columns: 0.90fr 0.10fr;
        justify-content: space-between;
        text-align: center;
        margin: 4px 0;
        & div{
            border: 1px solid $low-color_900;
            background-color: $bg-color_300;
        }
        & button{
            border: none;
            min-width: 10px;
            background-color: $low-color_600;
        }
    }    
}